// +-------------------------------------------------------------------+
// |  Resets
// +-------------------------------------------------------------------+
@import 'framework/normalize';

// +-------------------------------------------------------------------+
// |  Framework
// +-------------------------------------------------------------------+
@import 'framework/api';         // Public API variables
@import 'framework/mixins';      // Mixin helpers
@import 'framework/typography';
@import 'framework/basics';

// +-------------------------------------------------------------------+
// |  Site regions
// +-------------------------------------------------------------------+
@import 'regions/header';
@import 'regions/project-list';
@import 'regions/footer';
@import 'regions/project';

// +-------------------------------------------------------------------+
// |  App specific styles
// +-------------------------------------------------------------------+
hr {
  border: 0;
  border-bottom: 1px solid rgba(#000, .15);
  margin: 3rem 0;
}
