// +--------------------------------------------------------------------
// |  Custom Mixins
// +--------------------------------------------------------------------

// +--------------------------------------------------------------------
// |  dotdotdot - Replaces ending of text with "..." when it
// |  no longer fits in the container element.
// | 
// |  Usage:
// |
// |    .text__container {
// |      @include dotdotdot;
// |    }
// +--------------------------------------------------------------------
@mixin dotdotdot {
  // Allow one line of text only
  white-space: nowrap;

  // Don't allow container to expand beyond parent container size
  max-width: 100%;

  // 'overflow' value must be different from 'visible'
  overflow: hidden;

  // This is where the magic happens
  text-overflow: ellipsis;
}
