$text-color: rgba(46, 48, 58, .96);

body {
  -webkit-font-smoothing: antialiased;
  color: $text-color;
  font-family: "source-sans-pro-1", "source-sans-pro-2", "Source Sans Pro", "Roboto", "Helvetica Neue", "Helvetica", sans-serif;
  font-size: 1.1rem;
  line-height: 1.7rem;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "calluna-sans-1", "calluna-sans-2", "Source Sans Pro", "Roboto", "Helvetica Neue", "Helvetica", sans-serif;
  line-height: 1.1em;
  margin: 0;
  text-rendering: optimizeLegibility;

  @media screen and (min-width: 40em) {
    line-height: 1.3em;
  }
}

h1 {
  font-size: 2.7rem;
}

h2 {
  font-size: 1.8rem;
}

h3 {
  font-size: 1.5rem;
}

h4 {
  font-size: 1.2rem;
}

h5 {
  font-size: 1rem;
}

h6 {
  font-size: .8rem;
}

a {
  $active-color: darken($link-color, 10%);

  color: currentColor;
  text-decoration: underline;

  &:hover {
    color: $active-color;
  }

  &:active {
    color: $active-color;
    outline: none;
  }

  &:focus {
    outline-color: $active-color;
    outline-offset: 2px;
  }
}

pre {
  font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
  margin: 0;
}

code {
  padding-top: 0.2em;
  padding-bottom: 0.2em;
  margin: 0;
  font-size: 85%;
  background-color: rgba(#000, .04);
  border-radius: 3px;
  font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
  position: relative;
  top: -1px;

  &:before,
  &:after {
    letter-spacing: -0.2em;
    content: "\00a0";
  }
}

p, ul:not(.no-links) {
  margin: 0 0 1.71rem;

  a {
    text-decoration: none;
    text-shadow: 1px 1px 0 #fff, -1px 1px 0 #fff, 2px 0 0 #fff, -2px 0 0 #fff;
    box-shadow: inset 0 -1px 0 0 #fff, inset 0 -2px 0 0 lighten(#000, 50%);
  }
}

blockquote {
  border-left: 2px solid #ddd;
  padding-left: 1rem;
  margin-left: 1.5rem;
  color: lighten($text-color, 25%);
}
