$light-gray: #eee;
$gray: #aaa;
$blue: #5694f1;
$dark-gray: rgba(46, 48, 58, .96);
$scilifelab-green: #96c21e;
$robinandeer-green: #000;
$link-color: #00E676;  // bright green

$md-yellow: #ffd600;
$md-blue: #2196f3;
$md-pink: #e91e63;
$md-green: #4caf50;
$md-purple: #9c27b0;
$md-teal: #009587;
$md-cyan-200: #80deea;
$md-cyan-500: #00bcd4;

@import "mixins";
@import "normalize";
@import "color-theme";
@import "typography";

html {
  box-sizing: border-box;
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  top: 0 !important;
}

html, body {
  height: 100%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

img {
  border: 0;
  height: auto;
  -ms-interpolation-mode: bicubic;
  max-width: 100%;
  vertical-align: middle;
}

hr {
  border-bottom: 2px solid $scilifelab-green;
  border-left: none;
  border-right: none;
  border-top: none;
  margin: 1rem auto 1.5rem;
  width: 60%;
  max-width: 400px;
}

.wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.main {
  padding: 1rem 1rem 0;
  flex-shrink: 0;

  @media screen and (min-width: 600px) {
    padding: 2rem 2rem 0;
  }

  @media screen and (min-height: 600px) {
    padding-top: 4rem;
  }
}

//Index
.logo {
  height: 85px;
  width: 85px;
}

.pagination-wrapper {
  display: flex;
  justify-content: center;
  padding: 2rem;
}

.pagination {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

.pagination-bubble {
  width: 14px;
  height: 14px;
  background-color: $md-cyan-200;
  border-radius: 100%;

  &:hover,
  &.active {
    background-color: $md-cyan-500;
  }

  &:not(:last-child) {
    margin-right: 10px;
  }
}

.footer {
  display: flex;
  justify-content: flex-end;

  padding: 1rem;

  // maintain bottom padding
  flex-shrink: 0;
}

// Fab menu
.fab-menu {
  display: flex;

  @media screen and (min-width: 900px) {
    visibility: hidden;
  }
}

.fab-menu-item {
  padding: 1rem;
  margin-right: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  background-color: $robinandeer-green;
  width: 85px;
  height: 85px;
  color: #fff;
  text-decoration: none;

  @media screen and (min-width: 900px) {
    background-color: #fff;
    color: $robinandeer-green;
  }
}

.fab-wrapper {
  display: flex;

  @media screen and (min-width: 900px) {
    position: fixed;
    bottom: 2rem;
    right: 2rem;
    z-index: 1;
  }

  @media screen and (min-width: 900px) {
      &:hover {
        > .fab-menu {
          visibility: visible;
        }

        + .fab-backdrop {
          visibility: visible;
          background-color: rgba($robinandeer-green, 1);
        }
      }
  }
}

.fab-backdrop {
  visibility: hidden;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 0;
  transition: background-color .5s;
}

// Post list
.post-list {
  padding: 0;
  margin: 0;

  @media screen and (min-width: 600px) {
    max-width: 600px;
    margin: 0 auto;
  }
}

.post-list-item {
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
  position: relative;

  + .post-list-item {
    padding-top: 1rem;
    border-top: 1px solid #eee;
  }

  &:hover {
    > .post-list-category-label {
      opacity: 1;
    }
  }
}

.post-list-title {
  color: $dark-gray;
  text-decoration: none;
  font-weight: 500;
  font-size: 1.2rem;
  margin-right: 1rem;
  @include dotdotdot;
  flex: 1;
}

.post-list-category {
  border-radius: 100%;
  width: 12px;
  height: 12px;
  margin-right: .5rem;
}

.post-list-category-label {
  width: 100px;
  position: absolute;
  left: -120px;
  text-align: right;
  color: $gray;
  font-size: .9rem;
  opacity: 0;
}

.thoughts {
  background-color: $md-yellow;
}

.tutorials {
  background-color: $md-blue;
}

.tips {
  background-color: $md-pink;
}

.work {
  background-color: $md-green;
}

.reflections {
  background-color: $md-purple;
}

.food {
  background-color: $md-teal;
}

.post-list-date {
  flex-shrink: 0;
  color: $gray;
}

// Post
title {
  font-size: 1.7rem;
  margin: 0 0 1rem;
  text-align: center;
}

h1 {
  text-align: center;
}

.meta {
  padding: 0 0 2rem;
}

%meta-data {
  text-align: center;
  color: $gray;
}

.meta-date {
  @extend %meta-data;
  font-size: .9rem;
  text-transform: uppercase;
}

.meta-author {
  @extend %meta-data;
  margin-top: .5rem;
  color: $scilifelab-green;
  font-size: 1.2rem;
}

article {
  max-width: 600px;
  margin: 0 auto;
}

// About
.about {
  display: flex;
  justify-content: center;
  height: 100%;
  padding-top: 3rem;
}

.about-content {
  max-width: 30rem;
}

.text-center {
  text-align: center;
}

// Portfolio

h1 {
  margin-bottom: 3rem;
}

h2 {
  margin-bottom: 1rem;
}

.project {
  max-width: 850px;
  margin: 0 auto 5rem;
}

.photo-group {
  margin-bottom: 3rem;
}

.photo-row {
  display: flex;

  justify-content: center;
  flex-wrap: wrap;

  @media screen and (min-width: 700px) {
    flex-wrap: nowrap;
    justify-content: space-between;
  }
}

.photo-item {
  max-width: 400px;

  flex-basis: 100%;
  margin-bottom: 1rem;
}

.photo-caption {
  font-size: .95rem;
  margin-top: 1rem;
  padding: 0 1.5rem;
}
