<% wrap_layout :layout do %>
  <div class="meta">
    <div class="meta-date"><%= current_article.date.strftime('%B %e, %Y') %></div>
    <h1><%= current_article.title %></h1>
    <div class="meta-author"><%= current_article.data.author %></div>

    <hr>
  </div>

  <article>
    <%= yield %>
  </article>
<% end %>
