@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-white dark:bg-gray-900 text-gray-700 dark:text-gray-50;

  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

@layer components {
  .card {
    @apply bg-white dark:bg-gray-700 rounded-lg;

    box-shadow:
      0 0.7px 2.2px rgba(0, 0, 0, 0.011),
      0 1.6px 5.3px rgba(0, 0, 0, 0.016),
      0 3px 10px rgba(0, 0, 0, 0.02),
      0 5.4px 17.9px rgba(0, 0, 0, 0.024),
      0 10px 33.4px rgba(0, 0, 0, 0.029),
      0 24px 80px rgba(0, 0, 0, 0.04)
    ;
  }

  .padded {
    @apply p-4 sm:p-5;
  }
}

pre[class^='language-'] {
  @apply -mx-5 px-5;

  background: #2E3440;
}

@screen sm {
  pre[class^='language-'] {
    @apply rounded;
  }
}
