// +-------------------------------------------------------------------+
// |  Base Typography
// +-------------------------------------------------------------------+
// Source Sans Pro is a great all-around font. Simple as that.
$sans-serif: 'Source Sans Pro', 'Roboto', 'Helvetica Neue', Helvetica, sans-serif;

$base-font-family: $sans-serif;
$header-font-family: $base-font-family;

// +-------------------------------------------------------------------+
// |  Sizes
// +-------------------------------------------------------------------+
$base-font-size: 1rem;
$base-line-height: $base-font-size * 1.5;

// +-------------------------------------------------------------------+
// |  Colors
// +-------------------------------------------------------------------+
$primary-color: #00acc1;

// font colors
$base-font-color: lighten(#444, 50%);
$base-accent-color: $primary-color;

// background
$background-color: darken($primary-color, 30%);

// text link colors
$base-link-color: $base-accent-color;
$hover-link-color: lighten($base-accent-color, 5%);
