// +-------------------------------------------------------------------+
// |  Basics - stuff needed for every project
// +-------------------------------------------------------------------+

// +-------------------------------------------------------------------+
// |  Apply a natural box layout model to all elements, but allowing
// |  components to change.
// |  Ref: http://www.paulirish.com/2012/box-sizing-border-box-ftw/
// +-------------------------------------------------------------------+
html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

// +-------------------------------------------------------------------+
// |  Further resets
// |  N.B. Normalize is loaded separately in dev-mode.
// +-------------------------------------------------------------------+
// If I decide to user lists I will want to customize anyway
ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

// +-------------------------------------------------------------------+
// |  Minimal clearfix
// |  For modern browsers:
// |  1. The space content is one way to avoid an Opera bug
// |     when the contenteditable attribute is included anywhere
// |     else in the document. Otherwise it causes space to
// |     appear at the top and bottom of elements that are
// |     clearfixed.
// |
// |  2. The use of `table` rather than `block` is only necessary
// |     if using `:before` to contain the top-margins of child
// |     elements.
// +-------------------------------------------------------------------+
.cf:before,
.cf:after {
  content: ' ';    // 1
  display: table;  // 2
}

.cf:after {
  clear: both;
}

// For IE 6/7 only
// Include this rule to trigger hasLayout and contain floats.
.cf {
  *zoom: 1;
}

// responsive images
iframe {
  max-width: 100%;
  display: block;
}
img {
  // remove bottom padding
  display: block;
  height: auto;
  max-width: 100%;
}

body,
html {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
}

body {
  background-color: $background-color;
}
