// +-------------------------------------------------------------------+
// |  Site header + logo
// +-------------------------------------------------------------------+
header {
  padding: 2rem;
  transition: padding .2s;

  @include respond-to(handheld-wide) {
    padding: 4rem;
  }
}

// +-------------------------------------------------------------------+
// |  Personal brand logo (responsive)
// +-------------------------------------------------------------------+
$logo-icon-size: 60px;

.logo {
  display: flex;
  align-items: center;

  max-width: 60rem - 8rem;
  margin: 0 auto;

  @include respond-to(tablet) {
    justify-content: space-around;
  }

  > :first-child {
    margin-right: 1rem;

    @include respond-to(handheld-wide) {
      margin-right: 2rem;
    }
  }
}

.logo-icon {
  width: $logo-icon-size;
  height: $logo-icon-size;
  background-image: url('/assets/img/logo-square.png');
  background-size: $logo-icon-size;
  border-radius: 100%;

  @include respond-to(handheld-wide) {
    width: $logo-icon-size * 1.5;
    height: $logo-icon-size * 1.5;
    background-size: $logo-icon-size * 1.5;
  }
}

.logo-label-title {
  font-size: 1.5rem;
  color: $primary-color;

  @include respond-to(handheld-wide) {
    font-size: 2rem;
  }
}

.logo-label-subtitle {
  font-size: .9rem;
  margin-left: 1px;

  @include respond-to(handheld-wide) {
    margin-top: .3rem;
    font-size: 1.1rem;
  }
}
