// +-------------------------------------------------------------------+
// |  List of project banners
// +-------------------------------------------------------------------+
.project {
  max-width: 960px;
  margin-left: auto;
  margin-right: auto;

  &:not(:last-child) {
    margin-bottom: 1px;

    @include respond-to(handheld-wide) {
      margin-bottom: 2px;
    }

    @include respond-to(tablet) {
      margin-bottom: 3px;
    }
  }
}
