// +-------------------------------------------------------------------+
// |  Project page
// +-------------------------------------------------------------------+
.back-button {
  height: 3rem;
  padding: .2rem;
  background-color: rgba(#fff, .1);

  @include respond-to(handheld-wide) {
    width: 2rem;
    height: 2rem;
    position: fixed;
    top: .5rem;
    left: .5rem;
    border-radius: 2px;
  }

  > svg {
    fill: $primary-color;
  }
}

.project-header {
  padding: .5rem 2rem 1rem;
  text-align: center;
  overflow-x: auto;

  @include respond-to(tablet) {
    padding: 2rem;
  }
}

.project-body {
  background-color: #fff;
  padding: 1.5rem;
  margin: 0 auto;
  max-width: 60rem;

  box-shadow: 0 0 5px -1px #000;
  border-radius: 1px 1px 0 0;

  color: #444;
  font-size: 1.1rem;

  @include respond-to(handheld-wide) {
    padding: 3rem;

    font-size: 1.2rem;
    line-height: 1.5em;
  }

  @include respond-to(tablet) {
    padding: 4rem;
  }

  p,
  h2 {
    max-width: 35rem;
    margin-left: auto;
    margin-right: auto;
  }

  img,
  iframe {
    margin: 1.5rem 0;

    @include respond-to(handheld-wide) {
      margin: 3rem 0;
    }
  }

  > :first-child {
    margin-top: 0;
  }
}
