---
title: About
---

<div class="about">
  <div class="about-content">
    <p>Software engineer, gymnast, INTP, and designer of websites. I develop tools to solve medical mysteries at <a href="http://www.scilifelab.se">SciLifeLab</a>.</p>

    <p>Connect with me on <a href="https://twitter.com/robinandeer">Twitter</a> and <a href="https://github.com/robinandeer">GitHub</a>.
  </div>
</div>
