---
title: Portfolio
---

<h1>Portfolio</h1>

<section class="project">
	<h2>Python</h2>
	<p>I've developed multiple command line and web interfaces and Python has always been my go-to tool. I've invested a lot of time in <a href="http://flask.pocoo.org/">Flask</a> and <a href="http://click.pocoo.org/">Click</a>. As projects grow more mature I place more emphasize on stable APIs, semantic versioning, testing, and not least documentation. For Python packages I handle development using GitHub Flow, publish release on PyPI, and run automated tests on Travis-CI.</p>

	<h3>Chanjo</h3>
	<p>An <a href="https://github.com/robinandeer/chanjo">open source</a> coverage analysis tool for clinical sequencing. I've developed and maintained it over several years. It's being used at Clinical Genomics and elsewhere in the world like like <a href="http://www.massgeneral.org/">Massachusetts General Hospital</a>.</p>

	<p>It's implemented in Python and used mainly as a command line interface. It's <a href="https://www.chanjo.co">actively documented</a>, <a href="https://travis-ci.org/robinandeer/chanjo">automatically tested</a> on Travis-CI, with <a href="https://coveralls.io/github/robinandeer/chanjo">excellent test coverage</a>, and <a href="https://github.com/robinandeer/chanjo/blob/master/.travis.yml#L23">deployed automatically</a> to <a href="https://pypi.python.org/pypi/chanjo">PyPI</a> if all tests pass!</p>

	<h3>This blog</h3>
	<p>I blog occasionally about topics that interest me or where I feel I can contribute something of use for others. In the past I've covered:</p>

	<ul>
		<li>A comprahensive tutorial to Python testing: <a href="http://www.robinandeer.com/blog/2016/06/18/how-i-test-my-code-part-1/">part 1</a>, <a href="http://www.robinandeer.com/blog/2016/06/21/how-i-test-my-code-part-2/">part 2</a>, <a href="http://www.robinandeer.com/blog/2016/06/22/how-i-test-my-code-part-3/">part 3</a>.</li>
		<li>A brief intro to <a href="http://www.robinandeer.com/blog/2017/03/06/how-i-debug-my-code/">debugging Python code</a></li>
		<li>Some tips on getting started with <a href="http://www.robinandeer.com/blog/2014/09/28/5-functional-programming-tips-in-python/">functional programming</a></li>
		<li>... and advanced Python techniques like <a href="http://www.robinandeer.com/blog/2016/09/01/automated-pypi-releases/">automating PyPI deployments</a></li>
	</ul>
</section>

<section class="project">
	<h2>Web development</h2>
	<p>Building websites was my gateway into programming. I started with HTML/CSS and added JavaScript and backend programming skills when I felt the need. Developing graphical user interfaces have always interested me; how to display information in the most intuitive and effective way possible.</p>

	<div class="photo-group">
		<img src="/assets/img/web/scout-variant-demo.png" alt="Scout UI">
		<div class="photo-caption">
			<p><strong><a href="https://github.com/Clinical-Genomics/scout">Scout</a></strong>. Web interface developed at Clinical Genomics and used by clinicians at <a href="http://www.karolinska.se/en">Karolinska University Hospital</a>. This is where clinicians access information from the DNA analysis and make diagnostic intepretations and ultimately the clinical decision.</p>

			<p><strong>Technologies</strong>. I worked on all parts of the project but with a focus on the server and frontend. We store data in <a href="https://www.mongodb.com/">MongoDB</a> and consume it through a Python API. I've implemented the server in Flask but we run the production code using <a href="http://gunicorn.org/">Gunicorn</a>. On the frontend we rely heavily on <a href="http://getbootstrap.com/">Bootstrap</a>.</p>
		</div>
	</div>

	<div class="photo-group">
		<img src="/assets/img/web/apps.png" alt="Clinical Genomics Apps UI">
		<div class="photo-caption">
			<p><strong><a href="http://apps.clinicalgenomics.se/">Clinical Genomics Apps</a></strong>. I had the idea of developing a range of "apps" to manage our data at work. We collect all the tools in a central place and try to syncronize development while separating concern.</p>

			<p><strong>Technologies</strong>. We deploy many of the apps with one script to an <a href="https://aws.amazon.com/"><strong>Amazon Web Services</strong></a> server instance. The overview site is a simple static site compiled using <a href="https://vuejs.org/"><strong>Vue.js</strong></a>. It's not  used much 😅 but it has execelent development tools that make deployment super simple! We use <strong>Google OAuth</strong> to handle logins across all apps.</p>
		</div>
	</div>

	<div class="photo-group">
		<img src="/assets/img/web/odot.png" alt="Odot UI">
		<div class="photo-caption">
			<p><strong><a href="https://quiet-sands-79798.herokuapp.com/">Odot</a></strong>. TODO list app developed from the specification for a single-page web app with a REST API that a friend reveived as an interview assignment. You can <a href="https://quiet-sands-79798.herokuapp.com/">test it out</a> or take a look at the code in <a href="https://github.com/robinandeer/odot">the repo</a>.</p>

			<p><strong>Technologies</strong>. I've been following the <strong>Node.js</strong> revolution closely and done my best to keep up with build systems (Grunt &rarr; Gulp.js &rarr; Brunch &rarr; Webpack...) etc. I developed this app to get hands on with <a href="https://facebook.github.io/react/"><strong>React</strong></a> and <a href="http://redux.js.org/"><strong>Redux</strong></a> - both of which I really like although I prefer the more intuitive "Vue.js + Vuex" combo. The app is backed by a simple REST API developed in Flask (Python). The app is deployed on Heroku with PostgreSQL for persistance.</p>
		</div>
	</div>
</section>

<section class="project">
	<h2>Logos</h2>
	<p>I've been creating logos mostly for fun. However, I do believe they are an important piece in bringing a longer-term project together. A well crafted logo can inspire confidence in a project for potential collaborators and users. That's why I devote time to branding my software projects as they grow. Or offer to do the same for other's projects that I'm involved in.</p>

	<div class="photo-group">
		<div class="photo-row">
			<div class="photo-item">
				<img src="/assets/img/logos/chanjo.png" alt="Chanjo logo">
				<div class="photo-caption">
					<strong><a href="https://www.chanjo.co/">Chanjo</a></strong>. My first serious software project. I wanted to create a mascot and had the idea of code naming every major release with an ... animal.
				</div>
			</div>
			<div class="photo-item">
				<img src="/assets/img/logos/clinicalgenomics.png" alt="Clinical Genomics logo">
				<div class="photo-caption">
					<strong><a href="http://www.clinicalgenomics.se/">Clinical Genomics</a></strong>. I wanted to create a logo for my 
				</div>
			</div>
		</div>
	</div>

	<div class="photo-group">
		<div class="photo-row">
			<div class="photo-item">
				<img src="/assets/img/logos/bcbio.png" alt="bcbio logo">
			</div>
			<div class="photo-item">
				<img src="/assets/img/logos/ngi-pipeline.png" alt="NGI pipeline logo">
			</div>
		</div>
		<div class="photo-caption">
			<strong>Bioinformatics tools (<a href="https://bcbio-nextgen.readthedocs.io/en/latest/">bcbio-nextgen</a>, <a href="https://github.com/mariogiov/ngi_pipeline">NGI_pipeline</a></strong>). The bioinformatics field is underserved when it comes to attrative designs which bothered me. So I essentially <a href="https://github.com/chapmanb/bcbio-nextgen/issues/763">reached out</a> to a few projects I thought deserved some attention and offered to create these logos which were both happily accepted!
		</div>
	</div>

	<div class="photo-group">
		<img src="/assets/img/logos/robinandeer.png" alt="Robin Andeer logos">
		<div class="photo-caption">
			<strong>Personal branding</strong>. I like using an "avatar" for most of my online presence. I was inspried by <a href="https://twitter.com/dcurtis">Dustin Curtis</a> and by the trend of <a href="https://qz.com/423037/its-official-hillary-clintons-logo-is-actually-perfect/">adaptable logos</a> that can be tweaked over time. This is the "evolution" of my personal branding attempt.
		</div>
	</div>
</section>
