---
title: Portfolio
---

<h1>Projects</h1>

<section class="project">
	<h2>Logos</h2>
	<p>I've been creating logos mostly for fun. However, I do believe they are an important piece in bringing a longer-term project together. A well crafted logo can inspire confidence in a project for potential collaborators and users. That's why I devote time to branding my software projects as they grow. Or offer to do the same for other's projects that I'm involved in.</p>

	<div class="photo-group">
		<div class="photo-row">
			<div class="photo-item">
				<img src="/assets/img/logos/chanjo.png" alt="Chanjo logo">
				<div class="photo-caption">
					<strong><a href="https://www.chanjo.co/">Chanjo</a></strong>. My first serious software project. I wanted to create a mascot and had the idea of code naming every major release with an ... animal.
				</div>
			</div>
			<div class="photo-item">
				<img src="/assets/img/logos/clinicalgenomics.png" alt="Clinical Genomics logo">
				<div class="photo-caption">
					<strong><a href="http://www.clinicalgenomics.se/">Clinical Genomics</a></strong>. I wanted to create a logo for my 
				</div>
			</div>
		</div>
	</div>

	<div class="photo-group">
		<div class="photo-row">
			<div class="photo-item">
				<img src="/assets/img/logos/bcbio.png" alt="bcbio logo">
			</div>
			<div class="photo-item">
				<img src="/assets/img/logos/ngi-pipeline.png" alt="NGI pipeline logo">
			</div>
		</div>
		<div class="photo-caption">
			<strong>Bioinformatics tools (<a href="https://bcbio-nextgen.readthedocs.io/en/latest/">bcbio-nextgen</a>, <a href="https://github.com/mariogiov/ngi_pipeline">NGI_pipeline</a></strong>). The bioinformatics field is underserved when it comes to attrative designs which bothered me. So I essentially <a href="https://github.com/chapmanb/bcbio-nextgen/issues/763">reached out</a> to a few projects I thought deserved some attention and offered to create these logos which were both happily accepted!
		</div>
	</div>

	<div class="photo-group">
		<img src="/assets/img/logos/robinandeer.png" alt="Robin Andeer logos">
		<div class="photo-caption">
			<strong>Personal branding</strong>. I like using an "avatar" for most of my online presence. I was inspried by <a href="https://twitter.com/dcurtis">Dustin Curtis</a> and by the trend of <a href="https://qz.com/423037/its-official-hillary-clintons-logo-is-actually-perfect/">adaptable logos</a> that can be tweaked over time. This is the "evolution" of my personal branding attempt.
		</div>
	</div>
</section>
